@import "tailwindcss";
@tailwind utilities;

@theme {
    --font-montserrat: "Montserrat", sans-serif;
    --font-raleway: "Raleway", monospace;
    --font-dm-sans: "DM Sans", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

