@import "tailwindcss";
@tailwind utilities;

@theme {
    --font-montserrat: "Montserrat", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

