.view-enter-active {
    transition:
            opacity 500ms ease 100ms,
            transform 500ms ease 100ms;
}

.view-leave-active {
    transition:
            opacity 100ms ease,
            transform 100ms ease;
}

.view-enter-from {
    opacity: 0;
    transform: translateY(15px);
}

.view-leave-to {
    opacity: 0;
    transform: translateY(-15px);
}